body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(emo-background.jpg);
}

.banner {
    font-family: cursive;
    color: red;
}

a,
a:visited,
a:active {
    color: white;
}

a:hover {
    color: aqua;
}