* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* 
row flexbox: 
    main-axis = horizontal (x)
    cross-axis = vertical (y)
    
column flexbox:
    main-axis = vertical (y)
    cross-axis = horizontal (x) */

.container {
    background: blue;
    padding: 10px;
    height: 600px;
    display: flex;
    /* by default, flexboxes will render in the row layout */
    flex-direction: row;
    flex-wrap: wrap;

    /* justify-content will align items along the main axis */
    justify-content: center;

    /* align-items will align items on the cross-axis, for non-wrapping flexboxes */
    /* align-items: center; */

    /* align-content will align items along the cross-axis, for wrapping flexboxes */
    align-content: center;
    gap: 20px;
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid;
    width: 200px;
}