* {
    box-sizing: border-box;
}

img {
    width: 100%;

}

body {
    background-color: white;
}

.header-description {
    font-family: monospace;
    text-align: center;
    font-weight: 500;
    color: blue;
}

a,
a:visited,
a:active {
    color: black;
}

a:hover {
    color: blue;
}

.banner {
    text-align: center;
    font-family: cursive;
}