* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.box {
    background: lightgray;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 10px 0;
}

.relative {
    /* moves the element relative to its original position, retains the space the element once took up */
    background: lightblue;
    position: relative;
    /* top property takes hierarchy over bottom property, the two conflict so you can't use them together on the same element. Same goes for left and right in which left property takes priority */
    top: 50px;
    bottom: 200px;
    left: 50px;
    right: 200px;
}

.fixed {
    /* position of elemennt becomes relative to the entire viewport window, not relative to its original position */
    background: lightgreen;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0px;
}

.sticky {
    /* position of element sticks to top or bottom/ left or right of screen when you scroll past it */
    background: peachpuff;
    position: sticky;
    top: 20px;
}


.absolute {
    background: lightpink;
    position: absolute;
}

.a1 {
    top: 100px;
    right: 100px;
}

.a2 {
    top: 500px;
    left: 300px;
}

.a3 {
    bottom: 10px;
    right: 200px;
}

.parent {
    background: lightgray;
    width: 500px;
    height: 300px;
    position: relative;
}

.child {
    background: lightslategray;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.smiley {
    background-color: blue;
    width: 350px;
    height: 200px;
    position: relative;
}

.eye {
    background: black;
    width: 50px;
    height: 50px;
    border: 10px solid white;
    position: absolute;
}

.left {
    top: 40px;
    left: 40px;
}

.right {
    top: 40px;
    right: 40px;
}

.mouth {
    background: black;
    width: 90px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    right: 130px;
    border-radius: 0 0 100% 100%;
}

.nose {
    background: black;
    position: absolute;
    width: 10px;
    height: 40px;
    top: 50px;
    left: 150px;
}